<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="4">
    <metadata key="name" value="Eye.stl"/>
    <metadata key="brim_object_gap" value="0.3"/>
    <metadata key="brim_type" value="outer_only"/>
    <metadata key="extruder" value="2"/>
    <metadata key="layer_height" value="0.08"/>
    <metadata face_count="1250"/>
    <part id="3" subtype="normal_part">
      <metadata key="name" value="Eye.stl"/>
      <metadata key="matrix" value="1 0 0 0.054777622222900391 0 1 0 -0.05748140811920166 0 0 1 0.71187353134155273 0 0 0 1"/>
      <metadata key="source_object_id" value="2"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="0"/>
      <mesh_stat face_count="1250" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="5">
    <metadata key="name" value="Eye.stl"/>
    <metadata key="brim_object_gap" value="0.3"/>
    <metadata key="brim_type" value="outer_only"/>
    <metadata key="extruder" value="2"/>
    <metadata key="layer_height" value="0.08"/>
    <metadata face_count="1250"/>
    <part id="3" subtype="normal_part">
      <metadata key="name" value="Eye.stl"/>
      <metadata key="matrix" value="1 0 0 0.054777622222900391 0 1 0 -0.05748140811920166 0 0 1 0.71187353134155273 0 0 0 1"/>
      <metadata key="source_object_id" value="3"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="0"/>
      <mesh_stat face_count="1250" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="2">
    <metadata key="name" value="Heart.stl"/>
    <metadata key="extruder" value="3"/>
    <metadata face_count="485440"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Heart.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 -9.5367431518749993e-07 0 0 0 1"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="36.870307445526123"/>
      <metadata key="source_offset_z" value="27.797223091125488"/>
      <mesh_stat face_count="485440" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="7">
    <metadata key="name" value="Body.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="453412"/>
    <part id="6" subtype="normal_part">
      <metadata key="name" value="Body.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 -9.5367431559374995e-07 0 0 0 1"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="24.638012170791626"/>
      <metadata key="source_offset_z" value="28.493117034435272"/>
      <mesh_stat face_count="453412" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value="Body"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="filament_maps" value="1 1 2 1"/>
    <metadata key="filament_volume_maps" value="0 0 0 0"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="7"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="177"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="2"/>
    <metadata key="plater_name" value="Heart Shell"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Manual"/>
    <metadata key="filament_maps" value="1 1 2 1"/>
    <metadata key="filament_volume_maps" value="0 0 0 0"/>
    <metadata key="thumbnail_file" value="Metadata/plate_2.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_2.png"/>
    <metadata key="top_file" value="Metadata/top_2.png"/>
    <metadata key="pick_file" value="Metadata/pick_2.png"/>
    <model_instance>
      <metadata key="object_id" value="2"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="133"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="3"/>
    <metadata key="plater_name" value="Eyes"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="filament_maps" value="1 2 1 1"/>
    <metadata key="filament_volume_maps" value="0 0 0 0"/>
    <metadata key="thumbnail_file" value="Metadata/plate_3.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_3.png"/>
    <metadata key="top_file" value="Metadata/top_3.png"/>
    <metadata key="pick_file" value="Metadata/pick_3.png"/>
    <model_instance>
      <metadata key="object_id" value="4"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="144"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="5"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="155"/>
    </model_instance>
  </plate>
  <assemble>
   <assemble_item object_id="4" instance_id="0" transform="0.9300961846208482 0 0 0 0.93000000000000005 0 0 0 0.99990381489418956 136.25247076559066 0 5.7599296569824219" offset="0 0 0" />
   <assemble_item object_id="5" instance_id="0" transform="0.9267107071838705 0 0.034375343938849334 0 0.93000000000000005 0 -0.036970134625602134 0 0.99666259818436231 136.63550530567358 -212.33112480998039 2.3080156650524235" offset="0 0 0" />
   <assemble_item object_id="2" instance_id="0" transform="0.99999999992499011 0 0 0 1.0000000003137379 0 0 0 1.0000000004840188 106.56673758506776 0 43.223394393920898" offset="0 0 0" />
   <assemble_item object_id="7" instance_id="0" transform="1 0 0 0 1 0 0 0 1 736.52922899821556 -93.903041404117573 53.044295952684209" offset="0 0 0" />
  </assemble>
</config>
